@font-face {
    font-family: 'Graphik';
    /*a name to be used later*/
    src: url('../assets/fonts/Graphik_Collection/Graphik Compact Family/GraphikCompact-Bold-Trial.otf');
    /*URL to font*/
}

@font-face {
    font-family: 'DistanceRider';
    /*a name to be used later*/
    src: url('../assets/fonts/distance-rider-font/DistanceriderdemoRegular-yvWm.ttf');
    /*URL to font*/
}

.custom-navbar {
    position: fixed;
    z-index: 10;
    /* top: 50%; */
    left: 50%;
    top: 15px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    transform: translate(-50%, 0);
    display: flex;
    width: 95%;
    border-radius: 50px;
    background-color: #e2cc04;
}

.nav-left {
    font-family: 'Graphik';
    font-size: 1.5em;
    text-transform: uppercase;
}

.nav-left a {
    font-family: 'Graphik';
    margin-left: 10px;
    text-decoration: none;
    color: green;
    font-weight: bold;
}

.nav-center a {
    font-family: 'DistanceRider';
    font-size: 28px;
    text-decoration: none;
    color: black;
}

.nav-right {
    text-transform: uppercase;
    font-family: 'Graphik';
    font-size: 1.5em;
}

.nav-right a {
    margin-right: 10px;
    text-decoration: none;
    color: green;
    font-weight: bold;
}