body{
    background-image: linear-gradient( #fff7da, #fffcf0);
    overflow-x: hidden;
}

.element-parent{
    position: relative;
}
.centerleaf{
    position: absolute;
    width: 350px;
    top: 2rem;
    right: -7rem;
    z-index: -1;
    transform: rotate(60deg);
}


.left-hero-leaf{
    position: absolute;
    width: 320px;
    top: -8rem;
    left: -5rem;
    z-index: -1;
    transform: rotate(25deg);
}

.berry-top{
    position: absolute;
    width: 150px;
    top: -50px;
    right: 400px;
    z-index: -1;
    transform: rotate(-40deg);
}

.brocolli-top{
    position: absolute;
    width: 250px;
    top: 30rem;
    left:-100px;
    z-index: -1;
    transform: rotate(180deg);
}



.mainpanel h1{
    font-family: 'Graphik';
    color: rgb(74, 74, 74);
}
p{
    margin-left: 5px;
}

h4{
    color:#43803f;
}
i{
    color:#fdd849;
}
.card{
    padding: 0;
    margin-bottom: 40px;
    /* border: 2px solid rgb(183, 182, 182); */
    box-shadow: inset 0px 0px 0px 0.2px;
    border-radius: 20px;
}
.rowcontainer{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    /* margin-left: 40px; */
}
.card-img-top{
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
}
.time{
    width: 12px;
    height: auto;
    margin-top: -3px;
}
.bold{
    font-size: 85%;
    margin: 0;
    margin-bottom: 3px;
}
h4{
    margin: 0;
    margin-bottom: 20px;
}
p{
    font-size: 70%;
    margin-bottom: 0px;
}
.bottom{
    display: flex;
    justify-content: space-between;
}
.container{
    width: 70%;
}
.container h1
{   
    text-align: center;
    margin-bottom: 40px;
}
.container{
    margin-top: 200px;
}
.row{
    display: flex;
    justify-content: space-around;
}


/* css for the buttons for the list */
button {
    border-radius: 10px;
    border: 0px;
    background-color: white;
    padding: 5px 10px 5px 10px;
    /*   border: 0.5px solid grey ; */
    transform: scale(1);
    transition: 250ms;
}

.button-arrow {
    padding: 5px 7px 5px 7px;
    background-color: rgb(255, 255, 128);
}

button:hover {
    transform: scale(1.3);
    transition: 250ms;
}
.bottomnav{
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
