.card{
    padding: 0;
    margin-bottom: 40px;
    /* border: 2px solid rgb(183, 182, 182); */
    box-shadow: inset 0px 0px 0px 0.2px;
}
.rowcontainer{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    /* margin-left: 40px; */
}
.card-img-top{
    width: 100%;
    height: 200px;
}
.time{
    width: 12px;
    height: auto;
    margin-top: -3px;
}
.bold{
    font-size: 85%;
    margin: 0;
    margin-bottom: 3px;
}
h4{
    margin: 0;
    margin-bottom: 20px;
}
p{
    font-size: 70%;
    margin-bottom: 0px;
}
.bottom{
    display: flex;
    justify-content: space-between;
}
.container{
    width: 70%;
}
h1
{
    text-align: center;
    margin-bottom: 40px;
}
.container{
    margin-top: 200px;
}
.row{
    display: flex;
    justify-content: space-around;
}


/* css for the buttons for the list */
button {
    border-radius: 10px;
    border: 0px;
    background-color: white;
    padding: 5px 10px 5px 10px;
    /*   border: 0.5px solid grey ; */
    transform: scale(1);
    transition: 250ms;
}

.button-arrow {
    padding: 5px 7px 5px 7px;
    background-color: rgb(255, 255, 128);
}

button:hover {
    transform: scale(1.3);
    transition: 250ms;
}
.bottomnav{
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
